html{background-color: #343435}

body{
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,44,87,1) 35%, rgba(63,152,185,1) 100%);
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  display: flex;
}

.caixa-principal{
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 640px;
    color: white;
    top: 256px;
}

h1 {
  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-size:32pt;
  text-align: center;

}

.caixa-perguntas{
  background-color: #add8e650;
  padding: 16px;
  border: solid 2px white;
  border-radius: 8px;
  text-align: left;

}

.caixa-alternativas{
text-align: center;}
button{
  font-size: 12pt;
  padding: 16px;
  margin: 24px 30px 0 30px;
  transition: transform 0.3s;
}

button:hover{
  transform: translateY(-6px);
}

p.texto-resultado{
  padding-top: 10pt;
text-align: justify;
}
