html{background-color: #343435}

body{
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,44,87,1) 35%, rgba(63,152,185,1) 100%);
  min-height: 100vh
}

.caixa-principal{
    position: relative;
    display: block;
    margin: 0 auto;
    width: fit-content;
    max-width: 512px;
    text-align: center;
    color: white;
}

.caixa-principal h1{
    text-align: center;
}
